@model List<ResultContactDto>

<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">İletişim Bilgileri</h1>
            </div>
           
        </div>
        <div class="row g-5">
            @foreach (var item in Model)
            {


                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="mb-2">Adres:</p>
                <h3 class="fw-bold">@item.Address</h3>
                <hr class="w-100">
                <p class="mb-2">Telefon:</p>
                <h3 class="fw-bold">@item.Phone</h3>
                <hr class="w-100">
                <p class="mb-2">Email:</p>
                <h3 class="fw-bold">@item.Email</h3>
                <hr class="w-100">
                <p class="mb-2">Beni takip edin:</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-primary me-2" href="@item.githubUrl" target="_blank" ><i class="fab fa-github"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="@item.instagramUrl" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="@item.youtubeUrl" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="@item.linkedinUrl" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            }
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                
                <form asp-controller="Default" asp-action="SendMessage" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="Name" placeholder="Adınız Soyadınız">
                                <label for="name">Adınız Soyadınız</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="Email" placeholder="Email Adresiniz">
                                <label for="email">Email Adresiniz</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" name="Subject" placeholder="Konu">
                                <label for="subject">Konu</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" name="Content" placeholder="Mesajınızı buraya yazın" id="message" style="height: 100px"></textarea>
                                <label for="message">Mesajınız</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" onclick="sendMessage()" type="submit">Mesajı Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model)
{

    <div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-xxl pt-5 px-0">
            <div class="bg-dark">
                <iframe src="@item.MapUrl"
                frameborder="0" style="width: 100%; height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
        </div>
    </div>
}

<script>
    
    
    function sendMessage() {


       
         
            Swal.fire({

                title: 'Tebrikler',
                text: 'Mesajınız gönderildi. Size en kısa sürede cevap verilecektir.',
                icon: 'success',
                showCancelButton: false,
                confirmButtonText: 'Tamam',
                cancelButtonText: 'İptal'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/Default/Index"; // Yönlendirilecek URL'yi buraya yazın
                }
            });
        

        
 
        
    }
</script>