@model List<ResultSkillDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0 ; 
}

<h3>Yetenekler</h3>

<table class="table table-hover table-bordered">
    <tr>
        <th>#</th>
        <th>Yetenek</th>
        <th>Değer</th>
        <th>Arka Plan Rengi</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.SkillName</td>
            <td>@item.Value</td>
            <td>@item.BgColor</td>
            <td>
                <button onclick="deleteSkill(this)" id="@item.Id" data-skillname="@item.SkillName" class="btn btn-outline-danger"> <i class="fas fa-trash"></i></button>
                <a asp-controller="Skill" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-info"> <i class="fas fa-pen"></i></a>
            </td>
        </tr>
    }
    <form method="post" asp-controller="Skill" asp-action="Create">
    <tr>
            @{
                count++;
            }
            <td>@count</td>
        <td><input type="text" name="skillName" placeholder="Yetenek"/></td>
        <td><input type="number" name="value" placeholder="Değer" /></td>
        <td><input type="text" name="bgColor" placeholder="Arka Plan Rengi"/></td>
        <td><button class="btn btn-primary" type="submit"><i class="fas fa-plus-circle"></i></button></td>
    </tr>
    </form>
</table>

<script>

    function deleteSkill(button) {

        var id = button.getAttribute("id");
        var skillname = button.getAttribute("data-skillname");

        Swal.fire({

            title: skillname + ' silinecektir. Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Skill/Delete?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>