@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h3>Referanslar</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Unvan</th>
        <th>Yorum</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" style="height:50px;width:50px;border-radius:50%" />  @item.NameSurname</td>
            <td>@item.Title</td>
            <td>@(item.Comment.Length > 30 ? item.Comment.Substring(0, 30) + "..."  : item.Comment)</td>
            <td>
                <a asp-asp-controller="Testimonial" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Sil</a>
                <a asp-asp-controller="Testimonial" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-pen"></i> Güncelle</a>
            </td>
        </tr>
    }
</table>

<a asp-asp-controller="Testimonial" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Yeni Referans Oluştur</a>